[submodule ".registry"]
	path = .registry
	url = https://github.com/usaid-mozambique/usaid-mozambique.r-universe.dev
	branch = HEAD
[submodule "sismar"]
	path = sismar
	url = https://github.com/usaid-mozambique/sismar
