[submodule ".registry"]
	path = .registry
	url = https://github.com/usaid-mozambique/usaid-mozambique.r-universe.dev
	branch = HEAD
[submodule "inspector"]
	path = inspector
	url = https://github.com/usaid-mozambique/inspector
[submodule "sismar"]
	path = sismar
	url = https://github.com/usaid-mozambique/sismar
[submodule "sonata"]
	path = sonata
	url = https://github.com/usaid-mozambique/sonata
